body {
  --s: 140px;
  /* control the size*/
  --c1: #e8eee2;
  --c2: #e9fbf1;

  --_g: #0000 52%, var(--c1) 54% 57%, #0000 59%;
  background:
      radial-gradient(farthest-side at -33.33% 50%, var(--_g)) 0 calc(var(--s)/2),
      radial-gradient(farthest-side at 50% 133.33%, var(--_g)) calc(var(--s)/2) 0,
      radial-gradient(farthest-side at 133.33% 50%, var(--_g)),
      radial-gradient(farthest-side at 50% -33.33%, var(--_g)),
      var(--c2);
  background-size: calc(var(--s)/4.667) var(--s), var(--s) calc(var(--s)/4.667);
}

h1 {
    color: #222;
  }
  
  .card-title {
    font-weight: bold;
  }
  
  footer {
    margin-top: 50px;
    color: #888;
  }

  .btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #6e3adc;   
    color: white;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  
  .btn:hover {
    background-color: #2b8cf3;  
  }

  .parallax {
    background-image: url('img/monitor.jpg');
    height: 400px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(214, 207, 207, 0.7);
}

.img-fluid{
    border-top-left-radius: 70px;
    border-bottom-right-radius: 20px;
    border-radius: 45%;
  }
  